{% extends 'base.html' %}
{% block content %}
    <!--Mask-->
    <div id="intro" class="container-fluid view ">
      <h1 class="text-center text-capitalize pt-5">Know your chances of getting heart attack in one Click!</h1>
      <hr class="w-75 mx-auto pt-5">
      <div class="row mb-5">
        <div class="col-lg-6 col-md-6 col-12 my-auto">
          <img src="{{ url_for('static', filename='/img/heart_disease.jpg') }}" class="float-left">
        </div>
        <div class="col-lg-6 col-md-6 col-12">
          <form action="{{ url_for('heart_predict')}}" method="post">
            <div class="form-group">
              <!-- TODO : Year to accept only year date picker -->
              <label for="age">Age</label>
              <input class="form-control" type="number" id="age" name="age" required="required" placeholder="Age">
            </div>
            <div class="form-group">
              <label>Do you have Anaemia?</label>
              <div>
                <label class="radio-inline"><input class="form-control" type="radio" name="anaemia" value="1" checked>Yes</label>
                <label class="radio-inline"><input class="form-control" type="radio" name="anaemia" value="0">No</label>
              </div>
            </div>
            <div class="form-group">
              <label for="creatinine">Creatinine Phosphokinase value</label>
              <input class="form-control" type="number" id="creatinine" name="creatinine" required="required" placeholder="Creatinine Phosphokinase value">
            </div>
            <div class="form-group">
              <label>Do you have Diabetes?</label>
              <div>
                <label class="radio-inline"><input class="form-control" type="radio" name="diabetes" value="1" checked>Yes</label>
                <label class="radio-inline"><input class="form-control" type="radio" name="diabetes" value="0">No</label>
              </div>
            </div>
            <div class="form-group">
              <label for="ejection_fraction">Ejection Fraction</label>
              <input class="form-control" type="number" id="ejection_fraction" name="ejection_fraction" required="required" placeholder="Ejection Fraction">
            </div>
            <div class="form-group">
              <label>Do you have High Blood Pressure?</label>
              <div>
                <label class="radio-inline"><input class="form-control" type="radio" name="high_pressure" value="1" checked>Yes</label>
                <label class="radio-inline"><input class="form-control" type="radio" name="high_pressure" value="0">No</label>
              </div>
            </div>
            <div class="form-group">
              <label for="platelet">Platelet Count</label>
              <input class="form-control" type="number" id="platelet" name="platelet" required="required" placeholder="Platelet Count">
            </div>
            <div class="form-group">
              <label for="serum_creatinine">Serum Creatinine value</label>
              <input class="form-control" type="text" id="serum_creatinine" name="serum_creatinine" required="required" placeholder="Serum Creatinine value">
            </div>
            <div class="form-group">
              <label for="serum_sodium">Serum Sodium value</label>
              <input class="form-control" type="number" id="serum_sodium" name="serum_sodium" required="required" placeholder="Serum Sodium value">
            </div>
            <div class="form-group">
              <label>Do you smoke?</label>
              <div>
                <label class="radio-inline"><input class="form-control" type="radio" name="smoking" value="1" checked>Yes</label>
                <label class="radio-inline"><input class="form-control" type="radio" name="smoking" value="0">No</label>
              </div>
            </div>
            <div class="form-group">
              <label for="time">Time</label>
              <input class="form-control" type="number" id="time" name="time" required="required" placeholder="Time">
            </div>
            <div>
              <button type="submit" class="btn btn-danger">Predict</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!--/.Mask-->
{% endblock content %}