{% extends 'base.html' %}
{% block content %}
    <main role="main">
      <div>
        <center>
          <img src="{{ url_for('static', filename='/img/front.jpg') }}" class="center" alt="">
        </center>
      </div>
      <div class="container marketing">
        <!-- START THE FEATURETTES -->
        <hr class="featurette-divider">
        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Diabetes Prediction<span class="text-muted">: Check your potential to have diabetes</span></h2>
            <p class="lead">Enter the measurements of physical parameters, like, blood pressure, BMI, Age etc., and check if you are prone to have Diabetes or not!!</p>
          </div>
          <div class="col-md-5">
            <a href="{{ url_for('diabetes') }}">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" src="{{ url_for('static', filename='/img/diabetes.jpeg') }}" alt="Health Care Professionals">
            </a>
          </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Heart Disease Prediction<span class="text-muted">: Check your potential to have heart disease</span></h2>
            <p class="lead">Enter the measurements of physical parameters, like, Age, Platelet count etc., and check if you are prone to have heart disease or not!!</p>
          </div>
          <div class="col-md-5 order-md-1">
            <a href="{{ url_for('heart') }}">
              <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" src="{{ url_for('static', filename='/img/heart_disease.jpg') }}" alt="Generic placeholder image">
            </a>
          </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Affordability: <span class="text-muted">: Check your potential to have liver disease</span></h2>
            <p class="lead">Enter the measurements of physical parameters, like, Bilirubin value, Albumin value etc., and check if you are prone to have Liver disease or not!!</p>
          </div>
          <div class="col-md-5">
            <a href="{{ url_for('liver') }}">
              <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" src="{{ url_for('static', filename='/img/liver.jpg') }}" alt="Generic placeholder image">
            </a>
          </div>
        </div>
        <hr class="featurette-divider">
        <!-- /END THE FEATURETTES -->
      </div><!-- /.container -->
      <!-- FOOTER -->

    </main>
{% endblock content %}